<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Django, posts app</title>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
          Hello, I'm using a backend framework!
        </h1>
        {% for post in posts %}
          <div class="bg-white shadow rounded-xl p-4 mb-4">
              <p class="text-lg mb-2">{{ post.title }}</p>
              <span class="text-sm text-gray-500">{{ post.created_date }}</span>
          </div>
        {% endfor %}
    </div>
  </body>
</html>